
::-webkit-scrollbar {
  display: none;
}

/* CAROUSEL */
.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: rgb(69,11,7);
  background: linear-gradient(90deg, rgba(69,11,7,1) 0%, rgba(7,25,71,1) 100%);
}
/* APP.JS FILE */
.NavbarStyle {
  position: sticky;
  height: 13vh;
  background-color: #04061d;
}
.navBarItem {
  font-size: 20px;
  font-weight: 500;
}
.navBarItem:hover {
  color: rgb(249, 249, 249);
  text-shadow: 2px 2px 4px #ffe5d3;
}
.navbarLogo {
  position: absolute;
  margin: 10px 20px;
  top: 0;
  height: 80px;
  width: 80px;
}
.navBarItem{
  font-size: 20px;
  font-weight: 500;
}
.navBarToggle {
  padding-right: 40px;
  background-color:  #04061d;
  padding: 10px;
  justify-content: end;
  text-align: center;
}
/* HOMEPAGE */
.homePageButton{
  width: 250px;
  color: #0E1729;
  background: transparent;
  border: 1px solid #3C1220 ;
  }
.homePageButton:hover {
  background-color: #3C1220 !important ;
  border: 1px solid #3a3a38 ;
}
.gCDpsR{
  margin: 50px;
}
.cjzNGz {
  margin: 50px;
}
.eVXyLj:focus{
  box-shadow: rgba(155, 103, 44, 0.812) 0px 0px 1px 3px !important; 
}
/* SERVICES */
.Item {
  display: flex;
  flex-direction: column;
}
.CardMain {
  border: 1px solid #908f78;
  border-radius: 15px;
}
.CardImg {
  height: 250px;
  width: 250px;
  border-radius: 15px;
}
.CardItem {
  padding: 20px;
  justify-content: center;
  text-align: center;
}
.CardItemTitle {
  color: white;
  font-weight: 500;
  padding-top: 10px;
}
.CardItemBody {
  font-size: 14px;
}
/* LOGIN */
.LogPageButton {
  width: 350px;
  color: #e6c78a;
  background: transparent;
  border: 1px solid #d5a03b ;
  margin-top: 10px
}
.LogPageButton:hover{
  background-color: #3C1220 !important ;
  border: 1px solid #3a3a38 ;
}
td,th{
  border-bottom:1px #dddddd solid;
  text-align: left;
  padding: 8px;
}
.hover:hover{
  background-color: #929069;
  color: #0E1729;
}
/* PATIENT PROFILE */
.patientProfile{
  background-color: #fcfcfc;
  border: 1px solid #471d18;
  box-shadow: 1px -2px 5px #ad8a86;
  padding:30px 50px 20px 50px ;
  margin-top: 20px;
  width: 75vw;
}
.userLabel{
  font-size: 16px;
  font-weight: 500;
  color: #3C1220;
  text-transform: uppercase;
}
.profileRow{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.uploadIMG{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin-top: '20px';
}
.submitButton{
  display: flex;
  justify-content: flex-end;
}
.buttonSave{
  background-color:#d5a03b;
  border: none;
}
.buttonSave:hover{
  background-color: #491d11;
}
 .btn:disabled{
  background-color: transparent;
  color: black;
  border: 1px solid rgb(56, 7, 7);
}
.stackReservation{
  background-color: #3c122012;
}
.reservationHeader{
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
  color: #672313;
}